
// NavBar
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$navbar-height: 66px

.navbar
    width: 100%
    position: fixed
    top: 0
    height: $navbar-height
    line-height: $navbar-height
    vertical-align: middle
    font-weight: 600
    letter-spacing: 2px
    text-transform: uppercase
    text-decoration: none
    border-bottom: 1px solid #eee

.navbar a
    color: $color-secondary

    &:hover
        color: $color-primary

.active a
    color: $color-primary

.navbar-header
    font-size: 150%
    display: inline-block


.navbar-nav
    display: inline-block


.navbar-list
    list-style: none
    margin: 0
    padding: 0


.navbar-list > li
    display: inline-block
    margin: 0
    padding: 0 0 0 20px
