
// Mai
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.main
    padding-top: $navbar-height * 1.5

    @media only screen and (max-width: $xs-device)
        padding-top: $navbar-height * 1.2

// .page-title
//     height: 5.5rem

.page-title h1
    display: inline-block
    margin: 0.5rem auto

.page-title button
    margin: 1.5rem auto

.page-title hr
    margin: 1.5rem auto