/* Devices larger than a phone */
@media (max-width: 550px) {
  .settings-container {
    width: 90%;
    margin: auto;
    padding: 0; }
}

/* Devices smaller than a phone */
@media (min-width: 550px) {
  .settings-container {
    /* 90% of Phablet size */
    max-width: 495px;
    margin: auto;
    padding: 0; }
}