.navbar-brand {
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.navbar-nav {
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-link {
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
    font-size: 90%;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.navbar-link:hover {
    text-decoration: none;
}